@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
*{
    font-family: "Siginka" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(35, 149, 194);
    align-items: center;
    
}

main{
   
        width: 90vw;
         height: fit-content;
        border-radius: 1rem;
        margin-inline: 2rem;
        margin-block:2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        border: 1px solid black;
        background:white;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
}

section{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column ;
    gap: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
section video{
    width:80%;
}